.AppButton {
    border-radius: 20px;
    transition: all .4s ease;
}

.AppButton:hover {
    transform: scale(1.025);
}

.AppButton_transparent {
    color: white;
    background-color: transparent !important;
}

.AppButton_transparent:hover {
    color: white !important;
}
