.AppButtonFab {
    transition: all .2s ease;
}

.AppButtonFab:active {
    transform: scale(0.9);
    background-color: #1abc54;
}

.AppButtonFab:hover {
    transform: scale(1.05);
}

.AppButtonFab .MuiFab-focusVisible {
    padding: 40px !important;
}
