.HomeSearchInput {
    transition: all 1s ease;
    height: 48px;
    width: 474px !important;
}

.HomeSearchInput:hover:not(.HomeSearchInput:has(input:focus)) * {
    cursor: pointer;
}

.HomeSearchInput:has(input:focus) .SearchIcon {
    cursor: default;
}

.HomeSearchInput:hover .SearchIcon svg {
    fill: white;
}


.HomeSearchInput  > div {
    padding: 0;
    height: 100%;
}


.HomeSearchInput fieldset {
    transition: all 0.2s ease;
}

.HomeSearchInput input {
    color: white;
    font-size: 16px;
}

.HomeSearchInput input::placeholder {
    color: var(--text-subdued);
    opacity: 1;
}

.BrowseIcon {
    position: relative;
    padding: 0 16px 0 12px !important;
}

.BrowseIcon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 24px;
    border-left: 1px solid grey;
    transform: translateY(-50%);
    cursor: default;
}

.CloseIcon {
    padding: 0 12px !important;
}

.SearchIcon {
    padding: 0 12px !important;
    color: grey !important;
    transition: all .3s ease;
}

.SearchIcon:hover {
    color: white !important;
}
