.NavigationDesktop {
    height: 64px;
}


.NavigationDesktop-InputContainer {
    display: flex;
    max-width: 546px;
    width: 100%;
    min-width: auto;
}

@media screen and (min-width: var(--screen-md)) {
   .NavigationDesktop-InputContainer {
       width: 50%;
       min-width: 350px;
       max-width: 546px;
   }

    .NavigationDesktop-InputContainer .HomeSearchInput {
       /*padding: 0 8px;*/
   }
}


.NavigationMobile {
    height: 56px;
}
