@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SpotifyMixUI', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SpotifyMixUI';
  src: url('/fonts/SpotifyMixUI-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpotifyMixUI';
  src: url('/fonts/SpotifyMixUI-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SpotifyMixUITitle';
  src: url('/fonts/SpotifyMixUITitle-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SpotifyMixUITitle';
  src: url('/fonts/SpotifyMixUITitle-Bolder.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'SpotifyMixUITitleVariable';
  src: url('/fonts/SpotifyMixUITitleVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.bg-primary {
  background-color: #121212;
}

.bg-primary-highlight {
  background-color: #1f1f1f;
}

.bg-primary-press {
  background-color: #191919;
}

.bg-primary-light {
  background-color: #ffa733;
}
.bg-primary-dark {
  background-color: #cc7000;
}
.bg-secondary {
  background-color: #333333;
}
.bg-secondary-light {
  background-color: #4f4f4f;
}
.bg-secondary-dark {
  background-color: #1a1a1a;
}
